name: CI

on: [push]

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        py_version: ["3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.py_version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.py_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade flit
        flit install --deps=all
    - name: Type check
      run: mypy heroku_audit stubs
    - name: Format
      run: black --check heroku_audit stubs
    - name: lint
      run: ruff check heroku_audit stubs
    - name: List commands
      run: heroku_audit --list
      env:
        HEROKU_API_KEY: dummy

  build:
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Publish to PyPi
      if: ${{ github.ref_type == 'tag' }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        print_hash: true
